body {
  background: #f3f5f9;
}

.main__title {
  text-align: center;
  font-weight: 700;
  color: #ccc;
  text-decoration: underline;
  margin-bottom: 4rem;
}

.box {
  display: flex;
  align-items: center;
  gap: 2em;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0;
}

.button__left {
  margin-left: 2em;
}

.third__heading {
  font-weight: 700;
  font-size: 1em;
}
